/*
    pour générer le filtre pour colorer les icones voir 
    https://codepen.io/sosuke/pen/Pjoqqp
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.monster {
    @extend .statblock;
    --colorlight: #b85b56;
    --color: #821517;
    --colordark: #5e0709;
    --background: #FAF6F6;
    --section-background: #ECDCD9;
    --t-color: invert(28%) sepia(25%) saturate(2088%) hue-rotate(327deg) brightness(93%) contrast(88%);
    --t-light-icons: invert(73%) sepia(3%) saturate(2795%) hue-rotate(314deg) brightness(83%) contrast(102%);
}

.hazard {
    @extend .statblock;
    --colorlight: #7CB16C;
    --color: #478D2D;
    --colordark: #21782F;
    --background: #F6FAF6;
    --section-background: #E6E8DD;
    --t-color: invert(52%) sepia(15%) saturate(2009%) hue-rotate(59deg) brightness(86%) contrast(85%);
    --t-light-icons: invert(73%) sepia(14%) saturate(464%) hue-rotate(51deg) brightness(104%) contrast(83%);
}

.npc {
    @extend .statblock;
    --colorlight: #7d96c3;
    --color: #3d4878;
    --colordark: #11295e;
    --background: #F6F6FA;
    --section-background: #ced6da;
    --t-color: invert(26%) sepia(9%) saturate(3627%) hue-rotate(192deg) brightness(92%) contrast(83%);
    --t-light-icons: invert(98%) sepia(4%) saturate(879%) hue-rotate(170deg) brightness(87%) contrast(95%);
}

.statblock {
    --gray: RGB(182, 176, 177);
    --common: RGB(27, 145, 43);
    --uncommon: RGB(177, 148, 3);
    --rare: RGB(148, 18, 18);
    background-color: var(--background);
    padding: 3px;
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    line-height: 20px;
    font-size: 15px;

    /* GÉNÉRAL */
    .name {
        font-weight: 700;
    }

    /* HEADER */
    .header {
        background-color: var(--colordark);
        color: white;
        font-weight: 400;
        font-size: 0.9em;
        
        .header-top {
            padding: 4px 8px;
            background-color: var(--color);

            .name {
                font-family: 'Roboto', sans-serif;
                font-size: 1.6em;
                padding-top: 5px;
            }

            .subtitle{
                font-style: italic;
            }
        }

        .keywords {
            color: var(--background);
            font-weight: 600;
            font-size: 1.2em;
            padding: 1px 5px 5px 5px;

            i.icon {
                filter: invert(95%);
                margin-right: 3px;
            }
        }
    }

    /* ATTRIBUTES */
    .attributes {
        color: var(--background);
        display: flex;
        background-color: var(--color);
        margin: 6px;
        padding-top: 2px;
        padding-bottom: 2px;

        &>div {
            flex: 1 0 16%;

            &>div {
                color: var(--background);
                text-align: center;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.3em;

                &:nth-child(1) {
                    line-height: 1.3em;
                    font-size: 0.8em;
                    font-weight: 700;
                    background-color: var(--colordark);
                }
            }
        }

        &>div+div {
            border-left: 2px solid var(--colorlight);
        }
    }
    
    /* STATS */
    .stats {
        margin: 8px 3px;

        .line {
            padding-left: 34px;
            
            .icon {
                vertical-align: top;
                margin: 2px 5px 0 -27px;
                filter: var(--t-color);
            }

            .content {
                display: inline-block;

                .name {
                    color: var(--color);
                }
            }
        }

        hr {
            margin: 2px 6px;
            border-top: 2px solid var(--color);
        }
    }

    /* TRAITS */
    .traits {
        margin: 8px;

        .separateur-section {
            background-color: var(--section-background);
            color: white;
            text-transform: uppercase;
            font-size: 0.7em;
            font-weight: 800;
            margin: 5px 0 0 0;
            border-bottom: 2px solid var(--color);
            line-height: 1.4em;

            div {
                display: inline-block;
                padding: 2px 20px 0 30px;
                background-color: var(--color);
                clip-path: polygon(0 0, calc(100% - 10px) 0%, 100% 100%, 0% 100%);
            }
        }

        .item {
            
            &>div {
                display: inline-block;
            }

            &:not(.text) {
                margin-left: 30px;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 1.5em;
                    height: 1em;
                    background-color: var(--trait);
                    margin: 3px 3px 0 -30px;
                    vertical-align: top;
                    clip-path: polygon(0 0, calc(100% - 8px) 0%, 100% 100%, 0% 100%);
                    background-color: var(--gray);
                }
            }

            .label {
                display: inline;
                margin-right: 5px;
                font-weight: bold;

                &::after {
                    font-weight: 700;
                    content: ":";
                }

                .spec::before{
                    content:" (";
                }

                .spec::after {
                    content: ")";
                }
            }

            &.text {
                margin: 8px 0;
                background-color: var(--section-background);
                padding: 8px;

                .label::after {
                    content: "";
                }
            }

            ul, ol {
                margin-bottom: 0;
                padding-left: 15px;
                list-style-type: '- ' ;
            }

            p {
                display: inline-block;
                text-indent: 1em;
                margin-bottom: 0;
            }

            p:first-of-type {
                display: inline;
            }

            .container {
                border: 2px solid var(--section-background);
                padding: 5px;
                width: 100%;
                .row {
                    margin-right: 0;
                    margin-left: 0;
                    font-size: 0.9em;
                    .col {
                        padding: 2px 4px;
                        &:not(:last-child) {
                            border-right: 2px solid var(--section-background);
                        }
                    }
                }
            }

            &.common::before {
                background-color: var(--common) !important;
            }

            &.uncommon::before {
                background-color: var(--uncommon) !important;
            }

            &.rare::before {
                background-color: var(--rare) !important;
            }
        }

        .special {
            display: inline-block;
            font-weight: 600;
            text-transform: capitalize;
            margin-left: 4px;

            &::before {
                content: '(';
            }

            &::after {
                content: ')';
            }
        }
    }
}

/* ICONS */
$i-award: url("../img/icons/award.svg");
$i-bell: url("../img/icons/bell.svg");
$i-brain: url("../img/icons/brain.svg");
$i-bulb: url("../img/icons/bulb.svg");
$i-crosshair: url("../img/icons/crosshair.svg");
$i-eye-closed: url("../img/icons/eye-closed.svg");
$i-eye-open: url("../img/icons/eye-open.svg");
$i-flame: url("../img/icons/flame.svg");
$i-footprints: url("../img/icons/footprints.svg");
$i-heart: url("../img/icons/heart.svg");
$i-hexagon: url("../img/icons/hexagon.svg");
$i-lightning: url("../img/icons/lightning.svg");
$i-moon: url("../img/icons/moon.svg");
$i-pulse: url("../img/icons/pulse.svg");
$i-shield-full: url("../img/icons/shield-full.svg");
$i-shield-half: url("../img/icons/shield-half.svg");
$i-speech: url("../img/icons/speech.svg");
$i-star-empty: url("../img/icons/star-empty.svg");
$i-star-filled: url("../img/icons/star-filled.svg");
$i-support: url("../img/icons/support.svg");
$i-target: url("../img/icons/target.svg");
$i-tools: url("../img/icons/tools.svg");
$i-vulnerable: url("../img/icons/vulnerable.svg");
$i-bag: url("../img/icons/bag.svg");
$i-swords: url("../img/icons/swords.svg");

i.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 1.2em 1.2em;
    height: 1.2em;
    width: 1.2em;
    vertical-align: middle;

    /* Roles */
    &.controller {
        background-image: $i-brain;
    }

    &.defender {
        background-image: $i-shield-half;
    }

    &.lurker {
        background-image: $i-moon;
    }

    &.skirmisher {
        background-image: $i-eye-open;
    }

    &.striker {
        background-image: $i-flame;
    }

    &.supporter {
        background-image: $i-support;
    }

    /* Stats */
    &.ac {
        background-image: $i-shield-half;
    }

    &.hp {
        background-image: $i-heart;
    }

    &.quickstats {
        background-image: $i-swords;
    }

    &.speed {
        background-image: $i-lightning;
    }

    &.skills {
        background-image: $i-tools;
    }

    &.senses {
        background-image: $i-eye-open;
    }

    &.languages {
        background-image: $i-speech;
    }

    &.prof {
        background-image: $i-award;
    }

    &.items {
        background-image: $i-bag;
    }
}